.app-new-todo{
    justify-content: center;
    display: flex;
}
.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }